version: '3.8'

services:
  backend:
    build: ./backend
    command: gunicorn atithi_api.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/app
    expose:
      - "8000"
    env_file:
      - .env

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: atithi_db
      POSTGRES_USER: atithi_user
      POSTGRES_PASSWORD: atithi_password

volumes:
  postgres_data:
